<div class="modal-header">
    <h4 class="modal-title">Создать новую запись</h4>    
</div>  

<form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="modal-body">
        <div class="container">
            <div class="form-group">
                <label for="nameInput">Наименование</label>
                <input class="form-control" id="nameInput" placeholder="Наименование" formControlName="name" required>
                <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched" class="text-danger">
                    Необходимо заполнить наименование/email.
                </div>
            </div>
            <div class="form-group mt-4">
                <label for="passwordInput">Пароль</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Пароль" formControlName="password" required>
                <div *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched" class="text-danger">
                    Необходимо заполнить пароль.
                </div>
            </div>
            <div class="form-group mt-4">
                <label>Тип</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="siteRadio" value="site" formControlName="type" required>
                    <label class="form-check-label" for="siteRadio">Сайт</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="emailRadio" value="email" formControlName="type" required>
                    <label class="form-check-label" for="emailRadio">Электронная почта</label>
                </div>
                <div *ngIf="form.get('type')?.hasError('required') && form.get('type')?.touched" class="text-danger">
                    Необходимо выбрать тип.
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <p class="text-success" *ngIf="createSuccessful">Запись создана!</p>
        <p class="text-danger" *ngIf="createFailed">Ошибка создания записи. Посмотрите детали в консоли.</p>

        <button class="btn btn-lg btn-dark" type="submit" [disabled]="createSuccessful">Создать</button>
        <button type="button" class="btn btn-lg btn-outline-dark" (click)="activeModal.close('Close click')">Закрыть</button>
    </div>
</form>
